@import '../../styles/colors.module.scss';
.loggedStatusDiv {
  display: flex;
  justify-content: flex-end;
}
.loggedStatus {
  margin: 0.9rem 0rem;
  padding: 3px 15px;
  text-align: right;
  font-weight: 400;
  color: $mediumGray;
  font-size: 12px;
  border: 1px solid $mediumGray;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    color: $lightGray;
    border-color: $lightGray;
  }
}
