@import './colors.module.scss';

:root {
  font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  font-size: 1.1rem;
  color: $lightGray;
  margin: 0;
}

html,
body {
  background: radial-gradient(ellipse at center, $darkBlue, $black);
}
