@import './colors.module.scss';

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
.container {
  width: 34rem;
  height: auto;
  padding: 2rem 1rem;
  background: linear-gradient(320deg, $veryDarkBlue 10%, $darkBlue),
    radial-gradient(ellipse at left, $darkBlue, $veryDarkBlue);
  border-radius: 22px;
  box-shadow: 0 30px 40px rgba(0, 0, 0, 0.1);
}
.appTitle {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.appTitleSlice1 {
  font-size: 1.4rem;
}
.appTitleSlice2 {
  font-size: 1.4rem;
}
.pageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.inputs {
  display: flex;
}
.inputPair {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 2rem 1.8rem;
}
.switchImageSection {
  display: flex;
  align-items: center;
}
.switchImage {
  width: 20px;
  margin-bottom: 40px;
  cursor: pointer;
}
.buttonsSection {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  justify-content: center;
  align-items: center;
}
.imageInfoDiv {
  position: relative;
}
.imageInfoDiv:hover::after {
  content: attr(data-descr);
  position: absolute;
  left: 0;
  top: 24px;
  min-width: 200px;
  border: 1px #aaaaaa solid;
  border-radius: 5px;
  background-color: $lightGray;
  padding: 12px;
  color: $darkBlue;
  font-size: 0.8rem;
  z-index: 1;
}
.imageInfo {
  width: 1rem;
  height: 1rem;
}
.button {
  min-width: 10rem;
  border: 2px solid $lightBlue;
  background-color: transparent;
  font-size: 0.9rem;
  &:hover {
    background-color: transparent;
    border: 2px solid $lightBlue;
    color: $mediumGray;
    border-color: $mediumBlue;
  }
  &:active {
    background-color: transparent;
    border: 2px solid $lightBlue;
    color: $mediumGray;
    border-color: $mediumBlue;
  }
  &:focus {
    background-color: transparent;
    border: 2px solid $lightBlue;
    color: $mediumGray;
    border-color: $mediumBlue;
  }
}
.pleaseLogin {
  font-size: 0.7rem;
  color: $mediumGray;
  margin-top: 40px;
}
@media (max-width: 810px) {
  .container {
    width: 24rem;
  }
  .button {
    min-width: 7rem;
  }
}
@media (max-width: 768px) {
  .imageInfoDiv:active::after {
    content: attr(data-descr);
    position: absolute;
    left: 0;
    top: 24px;
    min-width: 200px;
    border: 1px #aaaaaa solid;
    border-radius: 5px;
    background-color: $lightGray;
    padding: 12px;
    color: $darkBlue;
    font-size: 0.8rem;
    z-index: 1;
  }
}
@media (max-width: 640px) {
  .main {
    padding: 6rem 2rem;
  }
  .container {
    width: 20rem;
  }
  .appTitle {
    flex-direction: column;
    align-items: center;
  }
  .inputPair {
    margin: 3rem 1rem;
  }
  .pleaseLogin {
    text-align: center;
  }
}
@media (max-width: 420px) {
  .container {
    width: 15rem;
  }
  .appTitleSlice1 {
    font-size: 1.1rem;
  }
  .appTitleSlice2 {
    line-height: 1;
    font-size: 0.8rem;
  }
  .inputs {
    flex-direction: column;
    align-items: center;
  }
  .inputPair {
    margin: 0rem;
    flex-direction: row-reverse;
  }
  #fromPair {
    margin: 2rem 0rem 1rem;
  }
  #toPair {
    margin: 1rem 0rem 2rem;
  }
  .switchImage {
    margin-bottom: 0px;
    margin-left: 80px;
  }
  .buttonsSection {
    gap: 0.2em;
  }
  .button {
    font-size: 0.7rem;
  }
  .imageInfoDiv:active::after {
    font-size: 0.6rem;
    padding: 8px;
    min-width: 140px;
  }
  .imageInfoDiv:hover::after {
    font-size: 0.6rem;
    padding: 8px;
    min-width: 140px;
  }
  .imageInfo {
    width: 0.6rem;
    height: 0.6rem;
  }
  .pleaseLogin {
    width: 150px;
    font-size: 0.6rem;
  }
}
@media (max-width: 335px) {
  .main {
    padding: 6rem 0rem;
  }
  .container {
    margin-right: 0rem;
    margin-left: 0rem;
  }
}
@media (min-width: 640px) {
  .appTitleSlice1::after {
    content: ' - ';
    white-space: pre;
  }
}
