@import './colors.module.scss';

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
.container {
  width: 34rem;
  background: linear-gradient(320deg, $veryDarkBlue 10%, $darkBlue),
    radial-gradient(ellipse at left, $darkBlue, $veryDarkBlue);
  border-radius: 22px;
  box-shadow: 0 30px 40px rgba(0, 0, 0, 0.1);
}
.loggedStatus {
  margin: 0.8rem;
  text-align: right;
  font-weight: 400;
  color: $mediumGray;
  font-size: 12px;
}
.appTitle {
  margin: 0rem;
  margin-left: 1.6rem;
  font-size: 1.5rem;
}
.inputs {
  display: flex;
  width: auto;
  justify-content: center;
}
.inputPair {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 50px 30px;
}

.switchImage {
  width: 20px;
  margin-bottom: 40px;
}
