@import './colors.module.scss';

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
  margin: 1.3rem 1.8rem 1rem 1.8rem;
}
.input {
  background-color: transparent;
  border: 2px solid $lightBlue;
  display: block;
  color: $lightGray;
  &::placeholder {
    color: $mediumGray;
  }
  &:focus {
    background-color: transparent;
    border: 2px solid $lightBlue;
    color: $lightGray;
    box-shadow: none;
  }
  &:active {
    background-color: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    border: 2px solid $lightBlue;
  }
}
.emailInputDiv {
  display: flex;
  align-items: center;
}
#infoImageRegister {
  position: absolute;
  top: -8px;
  left: 4px;
}
@media (max-width: 880px) {
  #imageInfoDivRegister:hover::after {
    left: auto;
    right: 0;
  }
}
@media (max-width: 420px) {
  .input {
    font-size: 0.8rem;
  }
  #infoImageRegister {
    top: -5px;
  }
}
